@import 'tailwindcss';

:root {
  --background: #ffe9a4;
  --foreground: #0a1636;
  --screen-wiper-beam-width: 25vw;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  @apply text-[2vh];
  @apply m-0;
  @apply overflow-hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a1636; /* deep dark blue */
    --foreground: #ffe9a4; /* pale gold */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow: hidden;
  @apply font-sans;
}

@utility label {
  @apply text-xs font-medium uppercase;
  @apply opacity-50;
}

@utility unit {
  @apply label;
  @apply pl-[0.5em];
}

@utility value {
  @apply font-bold;
}

@utility primary-value {
  @apply value;
  @apply text-[8rem];
  @apply font-thin;
}

@utility secondary-value {
  @apply primary-value;
  @apply text-[3rem];
}

@keyframes screen-wiper-sweep {
  from {
    background-position: calc(100% + var(--screen-wiper-beam-width)) 0;
  }
  to {
    background-position: calc(-1 * var(--screen-wiper-beam-width)) 0;
  }
}

.screen-wiper {
  background: linear-gradient(to right, var(--foreground), transparent);
  background-size: var(--screen-wiper-beam-width) 100%;
  background-repeat: no-repeat;
  animation: screen-wiper-sweep ease-out forwards;
}
