@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --screen-wiper-beam-width: 25vw;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  font-size: 2vh;
  margin: 0;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow: hidden;
  @apply font-sans;
}

@utility label {
  @apply text-xs font-medium uppercase;
  @apply opacity-50;
}

@utility value {
  @apply font-mono;
  @apply font-bold;
}

@utility unit {
  @apply opacity-50;
  @apply pl-[0.25em];
}

@keyframes screen-wiper-sweep {
  from {
    background-position: calc(100% + var(--screen-wiper-beam-width)) 0;
  }
  to {
    background-position: calc(-1 * var(--screen-wiper-beam-width)) 0;
  }
}

.screen-wiper {
  background: linear-gradient(to right, var(--foreground), transparent);
  background-size: var(--screen-wiper-beam-width) 100%;
  background-repeat: no-repeat;
  animation: screen-wiper-sweep ease-out forwards;
}
