@import 'tailwindcss';

:root {
  --color-light: #ffe9a4;
  --color-dark: #000000;
  --background: var(--color-light);
  --foreground: var(--color-dark);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@utility font-body {
  font-family: var(--font-body);
}

@utility font-numerals {
  font-family: var(--font-body);
}

html {
  @apply text-[2vh];
  @apply m-0;
  @apply overflow-hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-dark);
    --foreground: var(--color-light);
  }
}

body {
  @apply bg-background;
  @apply text-foreground;
  @apply font-body;
  @apply overflow-hidden;
}

@utility label {
  @apply whitespace-nowrap;
  @apply text-xs;
  @apply font-medium;
  @apply uppercase;
  @apply opacity-50;
  @apply leading-[1em];
}

@utility unit {
  @apply whitespace-nowrap;

  .primary-value &,
  .secondary-value & {
    @apply [font-weight:inherit];
  }
}

@utility primary-value {
  @apply font-numerals;
  @apply text-[8rem];
  @apply font-thin;
  @apply leading-[1em];
}

@utility secondary-value {
  @apply font-numerals;
  @apply primary-value;
  @apply text-[4rem];
  @apply font-extralight;
}

@utility tertiary-value {
  @apply font-numerals;
  @apply font-bold;
}

@keyframes burn-in-orbit {
  0%,
  100% {
    transform: translate(var(--burn-in-orbit-radius), 0);
  }
  25% {
    transform: translate(0, var(--burn-in-orbit-radius));
  }
  50% {
    transform: translate(calc(-1 * var(--burn-in-orbit-radius)), 0);
  }
  75% {
    transform: translate(0, calc(-1 * var(--burn-in-orbit-radius)));
  }
}
